---
layout: page
active: gallery
title: Product Highlights
subtitle: Analogue
header-img: "img/mk_large1.png"
images:
 - image_path: /projects/ProductSponsor/scaling_large.jpeg
   gallery-folder: /projects/ProductSponsor/
   gallery-name: Product Sponsor
   gallery-date: " " 
 - image_path: /projects/SupplyChain/SupplyChain.png
   gallery-folder: /projects/SupplyChain/
   gallery-name: Process Graph
 - image_path: /projects/HappyPlace/turtle.jpg
   gallery-folder: /projects/HappyPlace/
   gallery-name: Lufthansa App
 - image_path: /projects/KM/KMnew.png
   gallery-folder: /projects/KM/
   gallery-name: Knowledge Management
personal-images:
 - image_path: /projects/LampWood/InkBlack.JPG
   gallery-folder: /projects/LampWood/
   gallery-name: Wood Lamp
 - image_path: /projects/LampConcrete/concrete_preview.jpg
   gallery-folder: /projects/LampConcrete/
   gallery-name: Concrete Lamp
 - image_path: /projects/Hackbrett/Hackbrett1.jpg
   gallery-folder: /projects/Hackbrett/
   gallery-name: Hackbrett
---

<html class="no-js" lang="en" style="height: 100%">
<head>
	<meta content="charset=utf-8">
    <link rel="stylesheet" href="{{ "/css/selena.css" | prepend: site.baseurl }}">
</head>


    <body class="gallery" style="height: 50%">
 
	<section id="content" role="main">
		<div class="wrapper">
            
			<h1 style="text-align: center">{{page.title}}</h1>
            <hr class="smalls">
      <!--<h2>Digital</h2> -->
			
			<!-- Gallery __-->
			<div class="gallery masonry-gallery">
				
{% for image in page.images %}  	

	               <figure class="gallery-item">
                         <figure class="effect-selena">
					<header class='gallery-icon'>
		       
<a href="{{ site.url }}{{ site.baseurl }}{{ image.gallery-folder }}">
<img src="{{ site.url }}{{ site.baseurl }}{{ image.image_path }}"></a>

					</header>	
					<figcaption class='gallery-caption'>
						<div class="entry-summary">
							<h3>{{image.gallery-name}}</h3>
							<p>{{image.gallery-date}}</p>
						</div>
					</figcaption>
                       </figure>
				</figure>
							
{% endfor %}		
				
			</div>

    <!-- References -->
    <div class="container" >
        <div class="row">
            <div class="col-md-12" >
                <div class="carousel slide"  id="quote-carousel">
                    <!-- Carousel Slides / Quotes -->
                    <div class="carousel-inner text-center">
                        <!-- Quote 1 -->
                        <div class="item active">
                            <blockquote>
                                <div class="row">
                                    <div class="col-sm-8 col-sm-offset-2">
                                        <p>Max [..] is definitely an “aspiring changemaker” in all ways possible. Max has a very strong talent in envisioning the future of technology and also the technical ability to lead his teams in getting there. My experience with Max was a constant loop of constructive pivoting towards a great product and market outcome. Being very customer focused allowed him to be ahead of the curve when bringing impactful solutions to market.<br><br> Just don’t give him boring, repetitive tasks; you would be underutilizing a great thinker and Product Leader</p>
                                        <small>Yiannis Broustas - Global Product, Marketing & Growth @Automation/AI at UI Path </small>
                                    </div>
                                </div>
                            </blockquote>
                        </div>
                        <!-- Quote 2 -->
                        <div class="item">
                            <blockquote>
                                <div class="row">
                                    <div class="col-sm-8 col-sm-offset-2">
                                        <p>Max is an intelligent, self-motivated, forward-thinking Product Manager. What really impressed me most about Max is his enthusiasm, dedication as well as his ability to deal with conflicting priorities and difficult stakeholders. Max would be an asset to any company </p>
                                        <small>Marin Zec - Product & Customer Insights Manager at Amazon</small>
                                    </div>
                                </div>
                            </blockquote>
                        </div>
                        <!-- Quote 3 -->
                        <div class="item">
                            <blockquote>
                                <div class="row">
                                    <div class="col-sm-8 col-sm-offset-2">
                                        <p>outstanding high achiever whose success always earned our fullest acknowledgement in every respect</p>
                                        <small>Sabine Deimling - Director Sustainability Consulting at Sphera</small>
                                    </div>
                                </div>
                            </blockquote>
                        </div>
                        <!-- Quote 4 -->
                        <div class="item">
                          <blockquote>
                              <div class="row">
                                  <div class="col-sm-8 col-sm-offset-2">
                                      <p>Thank you very much for the orchestration and coordination! (As well as hacking an iOS prototype on the side!) Really great! This is how work is fun!</p>
                                      <small>Martin Pakendorf - Senior Director Digital Business at Cognizant</small>
                                  </div>
                              </div>
                          </blockquote>
                      </div>
                    </div>
                    <!-- Bottom Carousel Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#quote-carousel" data-slide-to="0" class="active"><img class="img-responsive " src="/img/yiannis.jpg" alt="">
                        </li>
                        <li data-target="#quote-carousel" data-slide-to="1"><img class="img-responsive" src="/img/marin.jpg" alt="">
                        </li>
                        <li data-target="#quote-carousel" data-slide-to="2"><img class="img-responsive" src="/img/sabine.jpeg" alt="">
                        </li>
                        <li data-target="#quote-carousel" data-slide-to="3"><img class="img-responsive" src="/img/martin.jpg" alt="">
                        </li>
                    </ol>
  
                    <!-- Carousel Buttons Next/Prev -->
                    <a data-slide="prev" href="#quote-carousel" class="left carousel-control"><i class="fa fa-chevron-left"></i></a>
                    <a data-slide="next" href="#quote-carousel" class="right carousel-control"><i class="fa fa-chevron-right"></i></a>
                </div>
            </div>
        </div>
    </div>
  
		<!--	<h2>Analogue</h2> -->

			<!-- Second Gallery __-->
			<div class="gallery masonry-gallery">
        
				
        {% for personal-image in page.personal-images %}  	
        
                         <figure class="gallery-item">
                                 <figure class="effect-selena">
                  <header class='gallery-icon'>
                   
        <a href="{{ site.url }}{{ site.baseurl }}{{ personal-image.gallery-folder }}">
        <img src="{{ site.url }}{{ site.baseurl }}{{ personal-image.image_path }}"></a>
        
                  </header>	
                  <figcaption class='gallery-caption'>
                    <div class="entry-summary">
                      <h3>{{personal-image.gallery-name}}</h3>
                      <p>{{personal-image.gallery-date}}</p>
                    </div>
                  </figcaption>
                               </figure>
                </figure>
                      
        {% endfor %}		
                
              </div>
			
		</div><!-- END .wrapper -->
	</section>


<!--<br>
<h6><p>Image Source: <a href="https://unsplash.com/photos/YOT6kS8YtEA/">Unsplash</a></p></h6>-->

<!-- jQuery -->    

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="{{ site.baseurl }}/js/retina.min.js"></script>
<!-- include Masonry -->
<script src="{{ site.baseurl }}/js/isotope.pkgd.min.js"></script> 
<!-- include mousewheel plugins -->
<script src="{{ site.baseurl }}/js/jquery.mousewheel.min.js"></script>
<!-- include carousel plugins -->
<script src="{{ site.baseurl}}/js/jquery.tinycarousel.min.js"></script>
<!-- include svg line drawing plugin -->
<script src="{{ site.baseurl }}/js/jquery.lazylinepainter.min.js"></script>
<!-- include custom script -->
<script src="{{ site.baseurl }}/js/scripts.js"></script>
<!-- Modernizr -->
 <script src="{{ site.baseurl }}/js/modernizr.js"></script>

</body></html>
