---
layout: page
active: gallery
title: Product Highlights
subtitle: Analogue
header-img: "img/mk_large1.png"
images:
 - image_path: /projects/ProductSponsor/scaling_large.jpeg
   gallery-folder: /projects/ProductSponsor/
   gallery-name: Product Sponsor
   gallery-date: " " 
 - image_path: /projects/SupplyChain/SupplyChain.png
   gallery-folder: /projects/SupplyChain/
   gallery-name: Process Graph
 - image_path: /projects/HappyPlace/turtle.jpg
   gallery-folder: /projects/HappyPlace/
   gallery-name: Lufthansa App
 - image_path: /projects/KM/KMnew.png
   gallery-folder: /projects/KM/
   gallery-name: Knowledge Management
personal-images:
 - image_path: /projects/LampWood/LampWood.JPG
   gallery-folder: /projects/LampWood/
   gallery-name: Wood Lamp
 - image_path: /projects/LampConcrete/LampConcrete5.png
   gallery-folder: /projects/LampConcrete/
   gallery-name: Concrete Lamp
---

<html class="no-js" lang="en" style="height: 100%">
<head>
	<meta content="charset=utf-8">
    <link rel="stylesheet" href="{{ "/css/selena.css" | prepend: site.baseurl }}">
</head>


    <body class="gallery" style="height: 50%">
 
	<section id="content" role="main">
		<div class="wrapper">
	
			<h2 style="text-align: center; font-size: 50px">{{page.title}}</h2>
      <hr class="smalls">
      <!--<h2>Digital</h2> -->
			
			<!-- Gallery __-->
			<div class="gallery masonry-gallery">
				
{% for image in page.images %}  	

	               <figure class="gallery-item">
                         <figure class="effect-selena">
					<header class='gallery-icon'>
		       
<a href="{{ site.url }}{{ site.baseurl }}{{ image.gallery-folder }}">
<img src="{{ site.url }}{{ site.baseurl }}{{ image.image_path }}"></a>

					</header>	
					<figcaption class='gallery-caption'>
						<div class="entry-summary">
							<h3>{{image.gallery-name}}</h3>
							<p>{{image.gallery-date}}</p>
						</div>
					</figcaption>
                       </figure>
				</figure>
							
{% endfor %}		
				
			</div>
    </div>
    </section>
    <!--Testimonials-->
    <section class="testimonial text-center">
      <div class="container">

          <div class="heading white-heading">
              Testimonial
          </div>
          <div id="testimonial4" class="carousel slide testimonial4_indicators testimonial4_control_button thumb_scroll_x swipe_x" data-ride="carousel" data-pause="hover" data-interval="5000" data-duration="2000">
           
              <div class="carousel-inner" role="listbox">
                  <div class="carousel-item active">
                      <div class="testimonial4_slide">
                          <img src="https://i.ibb.co/8x9xK4H/team.jpg" class="img-circle img-responsive" />
                          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
                          <h4>Client 1</h4>
                      </div>
                  </div>
                  <div class="carousel-item">
                      <div class="testimonial4_slide">
                          <img src="https://i.ibb.co/8x9xK4H/team.jpg" class="img-circle img-responsive" /><p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
                          <h4>Client 2</h4>
                      </div>
                  </div>
                  <div class="carousel-item">
                      <div class="testimonial4_slide">
                          <img src="https://i.ibb.co/8x9xK4H/team.jpg" class="img-circle img-responsive" />
                          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
                          <h4>Client 3</h4>
                      </div>
                  </div>
              </div>
              <a class="carousel-control-prev" href="#testimonial4" data-slide="prev">
                  <span class="carousel-control-prev-icon"></span>
              </a>
              <a class="carousel-control-next" href="#testimonial4" data-slide="next">
                  <span class="carousel-control-next-icon"></span>
              </a>
          </div>
      </div>
  </section>
	<section id="content" role="main">
		<!--	<h2>Analogue</h2> -->
		<div class="wrapper">
	
			<h2 style="text-align: center; font-size: 30px">{{page.title}}</h2>
      <hr class="smalls">
			<!-- Second Gallery __-->
			<div class="gallery masonry-gallery">
        

        {% for personal-image in page.personal-images %}  	
        
                         <figure class="gallery-item">
                                 <figure class="effect-selena">
                  <header class='gallery-icon'>
                   
        <a href="{{ site.url }}{{ site.baseurl }}{{ personal-image.gallery-folder }}">
        <img src="{{ site.url }}{{ site.baseurl }}{{ personal-image.image_path }}"></a>
        
                  </header>	
                  <figcaption class='gallery-caption'>
                    <div class="entry-summary">
                      <h3>{{personal-image.gallery-name}}</h3>
                      <p>{{personal-image.gallery-date}}</p>
                    </div>
                  </figcaption>
                               </figure>
                </figure>
                      
        {% endfor %}		
                
              </div>
		</div><!-- END .wrapper -->
	</section>


<!--<br>
<h6><p>Image Source: <a href="https://unsplash.com/photos/YOT6kS8YtEA/">Unsplash</a></p></h6>-->

<!-- jQuery -->    

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="{{ site.baseurl }}/js/retina.min.js"></script>
<!-- include Masonry -->
<script src="{{ site.baseurl }}/js/isotope.pkgd.min.js"></script> 
<!-- include mousewheel plugins -->
<script src="{{ site.baseurl }}/js/jquery.mousewheel.min.js"></script>
<!-- include carousel plugins -->
<script src="{{ site.baseurl}}/js/jquery.tinycarousel.min.js"></script>
<!-- include svg line drawing plugin -->
<script src="{{ site.baseurl }}/js/jquery.lazylinepainter.min.js"></script>
<!-- include custom script -->
<script src="{{ site.baseurl }}/js/scripts.js"></script>
<!-- Modernizr -->
 <script src="{{ site.baseurl }}/js/modernizr.js"></script>

</body></html>
